# --- Database backend: "mongo", "mysql", "postgresql" ---
DB_TYPE=mongo

# --- MongoDB Atlas (única credencial obligatoria) ---
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/
MONGODB_DB_NAME=plataforma_bots
