# Tokens de Facebook
FACEBOOK_PAGE_ACCESS_TOKEN=TU_TOKEN_AQUI
VERIFY_TOKEN=TU_PALABRA_SECRETA_AQUI
PHONE_NUMBER_ID=ID_DEL_NUMERO_WHATSAPP_BUSINESS

# Configuracion de Destino (Elige UNA o ambas)
# Opcion 1: WhatsApp Business
MI_NUMERO_WHATSAPP=521234567890

# Opcion 2: Telegram
TELEGRAM_BOT_TOKEN=8677728787:AAFOnf55j8Ww7MHEaAy-2MPz7-iBD8ocKhY
MI_ID_TELEGRAM=1318649767

# Archivo para rastrear usuarios que ya recibieron respuesta
ARCHIVO_RESPONDIDOS=usuarios_respondidos.json